### Repaso Examen de Base de Datos Avanzados CheatSheet

Por  Adolfo Huerta

#### Data Lake - Data Warehouse

Definicion:
<br> 
- DSS Sistema de Soporte de decisiones
- Un sistema de apoyo a la toma de decisiones (DSS) es una aplicación
informática interactiva que combina datos y modelos matemáticos para
ayudar a los responsables de la toma de decisiones a resolver problemas
complejos que se enfrentan en la gestión de las empresas y organizaciones
públicas y privadas.

- ### Caracteristicas DSS
- Permite extraer y manipular información de una
manera flexible.
- Capacidad de análisis multidimensional (OLAP)
- DSS pasivo.- Es un sistema de ayuda para el proceso de toma de decisiones, pero
que no puede llevar a cabo una decisión explícita, sugerencias o soluciones.
- DSS activo.- Puede llevar a cabo dicha decisión, sugerencias o soluciones.
- DSS cooperativo.- Permite al encargado de la toma de decisiones (o a sus asesores)
modificar, completar o perfeccionar las sugerencias de decisión proporcionadas por
el sistema, antes de enviar de vuelta al sistema para su validación. El nuevo sistema
mejora, completa y precisa las sugerencias del tomador de la decisión y las envía de
vuelta a su estado para su validación. Entonces, todo el proceso comienza de nuevo,
hasta que se genera una solución consolidada.
--------------------------------------------------------------------------------------------------
- Decisiones estratégicas. Las decisiones son estratégicas cuando afectan a toda la organización o al menos a una parte
sustancial de ella durante un largo período de tiempo
- Decisiones tácticas. Las decisiones tácticas sólo afectan a partes de una empresa y suelen estar restringidas a un único
departamento. 
- Decisiones operativas. Las decisiones operacionales se refieren a actividades específicas que se llevan a cabo dentro de una
organización y tienen un impacto modesto en el futuro.
-------------------------------------------------------------------------------------------------
### Fases de desarrollo de un DSS
- Planeacion 
- Análisis
- Diseño
- Implementacion
- Entrega
---------------------------------------------------------------------------------------------------

#### Data Warehouse

- “El Data Warehouse es una colección de datos, orientados a un
tema, integrados, no volátiles, variantes en el tiempo, organizados para el apoyo a toma
de decisiones.”
-  En este sentido, el principal objetivo del DW es facilitar la consulta de los datos por parte de
los usuarios. Con ello, es posible generar reportes históricos, análisis estadísticos,
predicciones, comparaciones, proyecciones y demás. Esto con la finalidad de poder tomar
decisiones estratégicas cada vez más acertadas.
- ##### Finalidad
- ¿Qué están comprando nuestros clientes? ¿Qué no están comprando? ¿Qué incentivos han
funcionado antes con los mismos clientes en esta época del año?.
- ¿Cuántos de nuestros vendedores visitan a un mismo cliente?.
- ¿Qué están haciendo nuestros competidores?
- ¿Cómo se comparan nuestros costos para cada línea de producto durante los últimos tres años?.
--------------------------------------------------------------------------------------------------------
### Caracteristicas de DW
- Orientado a entidades, Integrado , Variante en el Tiempo, Persistente, Fusionado, Desnormalizado
<br>
- Los departamentos de datos (Data Marts DM) son sistemas
que recopilan todos los datos requeridos por un
departamento específico de la empresa, como marketing o
logística, con el fin de realizar análisis de BI y ejecutar
aplicaciones de apoyo a la toma de decisiones específicas
para la propia función.

#### Data Lake
- Un data lake es un repositorio de almacenamiento centralizado que contiene Big Data de varias
fuentes en un formato granular y sin procesar.
- El término «data lake» fue acuñado por James Dixon, director tecnológico de Pentaho, y hace
referencia a la naturaleza particular de los datos de un DL, a diferencia de los datos limpios y
procesados guardados en los sistemastradicionales de almacenes de datos.
- Un DL funciona a partir de un
principio llamado schema-on-read o esquema
contra escritura. Esto significa que no existe un
esquema predefinido en el que deban encajarse los
datos antes de almacenarlos.

### OLAP

OLAP es el acrónimo en inglés de procesamiento analítico en línea'Business Intelligence) cuyo objetivo es agilizar la consulta de grandes cantidades de datos. Para ello utiliza estructuras de datos diversas, normalmente multidimensionales (o Cubos OLAP), que contienen datos resumidos de grandes Bases de datos o Sistemas Transaccionales (OLTP). Se usa en informes de negocios de ventas, marketing, informes de dirección, minería de datos y áreas similares.

### OLTP

OLTP es la sigla en inglés de Procesamiento de Transacciones En Línea (OnLine Transaction Processing). Es un tipo de procesamiento que facilita y administra aplicaciones transaccionales, usualmente para entrada de datos y recuperación y procesamiento de transacciones (gestor transaccional). Los paquetes de software para OLTP se basan en la arquitectura cliente-servidor ya que suelen ser utilizados por empresas con una red informática distribuida.

![Esta mamada](img/2.png)

#### ETL
- ETL se refiere a las herramientas de software que se dedican a realizar de forma
automática tres funciones principales: extracción, transformación y carga de datos en
el DW
- Extracción. Durante la primera fase, los datos se extraen de las fuentes internas y
externas disponibles. 
- Transformación. El objetivo de la fase de limpieza y transformación es mejorar la calidad
de los datos extraídos de las diferentes fuentes, a través de la corrección de
incoherencias, inexactitudes y valores faltantes.
-  Carga. Por último, después de ser extraídos y transformados, los datos se cargan en las
tablas del DW para ponerlos a disposición de los analistas y las aplicaciones de apoyo a la
toma de decisiones. Se debe considerar la carga de datos de la siguiente manera:
    - Replicar las tablas de dimensiones
    - Replicar la tabla de hechos
    - Realizar una carga automática
    - Indexar los datos para un mayor rendimiento

![Esta mamada](img/1.png)

### IMPORTANTE DE TODAS LAS PRACTICAS

- El comando CREATE para crear objetos puede sustituirse por DROP y ALTER
para borrar y modificar el objeto en cuestión:
- CREATE USER: Crea un usuario, una cuenta para acceder a la BD.
- CREATE ROLE: Crea un conjunto de privilegios con un nombre.
- GRANT: Otorga roles y permisos (o privilegios) del sistema o de objetos a
usuarios. Los privilegios se retiran con el comando REVOKE.

``` sql
GRANT {lista_privilegios | ALL
PRIVILEGES}
ON nombre_objeto
TO{lista_id_aut | PUBLIC}
[WITH GRANT OPTION]
```

Crear Roles y asignar privilegios

``` sql
create role manager
grant select on branch to manager
grant update
(balance) on account to
manager
grant all privileges on account to
manager
grant manager to user1, user2
```

#### Modelo dimensional OLAP

### Modelo Multidimencional

![Esta mamada](Imagen1.png)

![Esta mamada](img/5.PNG)

Modelo Multidimencional (ejemplo)

Las tablas de hechos (del inglés fact tables) son:

- la tabla principal del modelo dimensional
- contienen campos claves que se unen a las tablas de dimensión
- contiene métricas o también llamadas medidas y es aquello que queremos medir o analizar. Generalmente son valores numéricos que se suelen agregar
- evitan la redundancia de atributos por estas estos en las tablas de dimensiones
- normalmente tienen muchos (millones) registros
- por ejemplo: ventas, compras, movimientos de contabilidad

Las tablas de dimensión (del inglés dimension table) son:
- tablas simples desnormalizadas
- se unen a las tablas de hechos a través de un campo clave
- los atributos de la tabla de dimensión ofrecen información característica de las tablas de hechos
- no hay límite de tablas de dimensión
- las dimensiones pueden contener una o varias relaciones jerárquicas
- normalmente tiene pocos (miles) registros
- por ejemplo: clientes, productos, almacenes, proveedores, calendario...

![Esta mamada](estrella.png)
<br>Modelo Estrella

![Esta mamada](coponieve.png)
<br>
Modelo Copo de nieve

### Drill-down
- Permite la navegación a través de un cubo de datos desde información
agregada y consolidada hasta información más detallada.
- Por ejemplo, en el caso de la dimensión {ubicación}, es posible pasar del nivel {provincia} al
nivel {ciudad} y desagregar las medidas temáticas de interés sobre todos los registros en los
que la ciudad pertenece a la misma provincia.
### Roll-up
- Consiste en una agregación de datos en el cubo, que se puede obtener
alternativamente en las dos vías siguientes.
-  Avanzar hacia arriba a un nivel superior a lo largo de una única dimensión definida en una jerarquía
de conceptos. 
- Por ejemplo, para la dimensión {ubicación} es posible pasar del nivel {ciudad} al nivel {provincia} y
consolidar las medidas de interés a través de una suma condicionada grupo por todos los registros
en los que la ciudad pertenece a la misma provincia.
### SLICE
- Obtiene un cubo en un subespacio seleccionando varias dimensiones simultáneamente.
### Dice
- Obtiene un cubo en un subespacio seleccionando varias
dimensiones simultáneamente.

Sintaxis MDX
``` sql
 Para obtener, por ejemplo, el importe de las ventas para el año 2018 para la familia de
productos lácteos, la consulta seria:
SELECT {[medidas].[importe ventas]} on columns,
{[tiempo].[2018]} on rows
FROM [cubo_ventas]
WHERE ([Familia].[lácteos])
```

``` sql
SELECT Measures.[Internet Sales Amount]
on COLUMNS,
{[Customer].[Country].[France],
[Customer].[Country].[Germany],
[Customer].[Country].[United Kingdom]}
on ROWS
FROM [Adventure Works] 
```

Ejemplo Roll Up

``` sql
MDX
SELECT [SALES].[AMOUNT] ON
COLUMNS,
[store].[Houston] ON ROWS
FROM SALES

SQL
select sum(amount), area
from SALES
where (area=‘Houston') group by area


```

Ejemplo drilldown


``` sql
MDX
SELECT [SALES].[AMOUNT] ON COLUMNS,
[time].[2003].[Q4].[Dec].[31],
[time].[2003].[Q4].[Dec].[30],… …,
[time].[2003].[Q4].[Dec].[2],
[time].[2003].[Q4].[Dec].[1] ON ROWS FROM
SALES

SQL
select sum(amount), the_date
from SALES
where (the_date='2003-Dec-31')
or (the_date='2003-Dec-30')
or… …or (the_date='2003-Dec-2')
or (the_date='2003-Dec-1') group by
the_date

```

Ejemplo slice
``` sql
MDX
SELECT [SALES].[AMOUNT] ON COLUMNS,
[store].[Houston].[292] ON ROWS FROM
SALES
 SQL
select sum(amount), storecode
from SALES
where (storecode='292') group by
storecode
```

Ejemplo Dice
``` sql
MDX
SELECT [SALES].[AMOUNT] ON COLUMNS,
[store].[HK],[store].[NT],
[store].[Houston] ON ROWS
FROM SALES WHERE
[time].[2003].[Q4].[Dec].[24]
 SQL
select sum(amount), area
from SALES
where ( (area='HK') or (area='NT') or
(area=‘Houston'))
and (the_date='2003-Dec-24')
group by area
```
Más ejemplos

- Familia].[lácteos].CurrentMember : Permite acceder al
miembro actual
-  [Familia].[lácteos].Children : Permite acceder a los hijos de la
familia de los lácteos
- [Familia].[lácteos].prevMember: Permite acceder al miembro
anterior de la dimensión

### Orientado a Objetos

Consultas Procedures Oracle PLSQL
``` sql
CREATE FUNCTION check_sal RETURN Boolean IS
dept_id employees.department_id%TYPE;
empno employees.employee_id%TYPE;
sal employees.salary%TYPE;
avg_sal employees.salary%TYPE;
BEGIN
empno:=205;
SELECT salary,department_id INTO sal,dept_id
FROM employees WHERE employee_id= empno;
SELECT avg(salary) INTO avg_sal FROM employees
WHERE department_id=dept_id;
IF sal > avg_sal THEN
 RETURN TRUE;
ELSE
 RETURN FALSE;
END IF;
EXCEPTION
 WHEN NO_DATA_FOUND THEN
 RETURN NULL;
 END;
 ```

Para mandarla a llamar

``` sql
SET SERVEROUTPUT ON
BEGIN
IF (check_sal IS NULL) THEN
DBMS_OUTPUT.PUT_LINE('The function returned
 NULL due to exception');
ELSIF (check_sal) THEN
DBMS_OUTPUT.PUT_LINE('Salary > average');
ELSE
DBMS_OUTPUT.PUT_LINE('Salary < average');
END IF;
END;
```

### Crear tabla Objeto PL/SQL
``` sql
CREATE TYPE address_typ AS OBJECT ( 
   street          VARCHAR2(30),
   city            VARCHAR2(20),
   state           CHAR(2),
   postal_code     VARCHAR2(6) );
   ``` 

``` sql

CREATE TYPE employee_typ AS OBJECT (
  employee_id       NUMBER(6),
  first_name        VARCHAR2(20),
  last_name         VARCHAR2(25),
  email             VARCHAR2(25),
  phone_number      VARCHAR2(20),
  hire_date         DATE,
  job_id            VARCHAR2(10),
  salary            NUMBER(8,2),
  commission_pct    NUMBER(2,2),
  manager_id        NUMBER(6),
  department_id     NUMBER(4),
  address           address_typ,
  MAP MEMBER FUNCTION get_idno RETURN NUMBER,
  MEMBER PROCEDURE display_address ( SELF IN OUT NOCOPY employee_typ ) );
  ```

#### Consulta a tabla
``` sql
  DECLARE
  emp employee_typ;
BEGIN
  SELECT VALUE(e) INTO emp FROM employee_tab  WHERE e.employee_id = 310;
  emp.display_address();
END;
/
```
#### Ejemplo extraido de la RED
``` SQL
DROP TYPE Student;
DROP TYPE Person;

CREATE OR REPLACE TYPE Person As Object (
	firstName	VARCHAR2(30),
	lastName	VARCHAR2(30),
	phoneNumber	CHAR(10)
) NOT FINAL;
/
CREATE OR REPLACE TYPE Student UNDER Person (
	studentID	CHAR(7),
	MEMBER FUNCTION GetGrades RETURN VARCHAR2
);
/
CREATE OR REPlACE TYPE BODY Student AS
	MEMBER FUNCTION GetGrades RETURN VARCHAR2 IS
		grades	VARCHAR2(50) := 'LOL Grades';
	BEGIN
		RETURN grades;
	END;
END;
/

CREATE TABLE persons OF Person;
CREATE TABLE students OF Student;

set serveroutput on
DECLARE
	aPerson Person;
	aStudent Student;
BEGIN
	aPerson := Person('Luc-Olivier', 'Dumais-Blais', '8195551234');
	aStudent := Student('Yanik', 'Magnan', '8195551235', '1234567');
	DBMS_OUTPUT.PUT_LINE(aPerson.firstName || ' ' || aPerson.lastName || '''s phone number: ' || aPerson.phoneNumber);
	DBMS_OUTPUT.PUT_LINE(aStudent.firstName || '''s grades: ' || aStudent.GetGrades);

	INSERT INTO persons VALUES aPerson;
	INSERT INTO students VALUES aStudent;
END;
/
```

Ejemplo Base de datos orientada a objetos

![alt text](./img/3.PNG)

OO Diagram

![alt text](./img/5.jpeg)

Aqui ira la practica para crear esta base de datos

``` sql
CREATE OR REPLACE TYPE Payment As Object (
	amount	NUMBER(100)
) NOT FINAL;
/

 

CREATE OR REPLACE TYPE Credit UNDER Payment (
	number	VARCHAR(100),
	type VARCHAR(100),
	expireDate DATE 
);
/

CREATE OR REPLACE TYPE Cash UNDER Payment (
	cashTendered	NUMBER(100),
);
/

CREATE OR REPLACE TYPE Check UNDER Payment (
	name	VARCHAR2(100),
	bankID	VARCHAR2(100),
	MEMBER procedure authorized 
);
/

CREATE OR REPLACE TYPE BODY authorized as (
	member procedure authorized as
		BEGIN
		...
		END;
	END;
)

CREATE OR REPLACE TYPE WireTransfer UNDER Payment (
	bankID	VARCHAR2(100),
	bankName	VARCHAR2(100),
);
/


CREATE type Address as object (
	calle VARCHAR2(20),
	colonia VARCHAR2(20),
	delegacion VARCHAR(20),
	ciudad VARCHAR(20)
);

Create Customer as object (
	name varchar(20),
	Address Adress
)

CREATE OR REPLACE TYPE Order as Object (
	date Date,
	status  VARCHAR(100),
	MEMBER procedure calcSubTotal 
	MEMBER procedure calcTotalTax 
	MEMBER procedure calcTotal
	MEMBER procedure calctotalWeight  
)

CREATE OR REPLACE TYPE OrderDetal as Object (
	quantity quantity,
	taxStatus VARCHAR(100),
	MEMBER procedure calcSubTotal 
	MEMBER procedure calcTax 
	MEMBER procedure calcWeight  
	MEMBER PROCEDURE another_more (num IN NUMBER) RETURN NUMBER,
)

CREATE type quantity as object (
	numberCuantity NUMBER(100),
	desCuantity VARCHAR(100)

);

CREATE OR REPLACE TYPE Item as Object (
	ShippingWeight,
	description String,
	MEMBER procedure getPriceforQuantity 
	MEMBER procedure getTax 
	MEMBER procedure inStock  
)

CREATE type ShippingWeight as object (
	numberWeight NUMBER(100),
	desWeight VARCHAR(100)

);

CREATE type ShippingWeight as object (
	numberWeight NUMBER(100),
	desWeight VARCHAR(100)

);

ALTER Table Order ADD orderDetal REF OrderDetail;

ALTER Table Order ADD customer REF customer;

ALTER Table OrderDetail ADD ITEM REF ITEM;



```




### Imprimir informacion

``` sql
set serveroutput on
DECLARE
	aPayment Payment;
	aCash Cash;
	aOrder Order;
BEGIN
	aPayment := Payment(8000);
	aCash := Cash(8000);
    aOrder := Order('19/12/1999', 'completed');
	DBMS_OUTPUT.PUT_LINE(aPayment.amount || ' ' || aCash.cashTendered || '''s payment true ' || aOrder.date);

	INSERT INTO Cash VALUES aCash;
	INSERT INTO Order VALUES aOrder;
    INSERT INTO Payment VALUES aPayment;
	
END;
```

Creacion CLOB

``` sql
CREATE TABLE Libro (
titulo VARCHAR(200),
id_libro INTEGER PRIMARY KEY,
portada BFILE,
texto_libro CLOB,
pelicula BLOB
);
```

- ▪ BLOB (Binary Large OBject): permite almacenar
datos en formato binario.
- ▪ CLOB (Character Large OBject): permite almacenar
grandes cantidades de texto.

``` sql
CREATE TABLE Libro (
titulo VARCHAR(200),
id_libro INTEGER PRIMARY KEY,
portada BFILE,
texto_libro CLOB DEFAULT EMPTY_CLOB(),
pelicula BLOB DEFAULT EMPTY_BLOB()
);
• ó
ALTER TABLE Libro MODIFY texto_libro DEFAULT
EMPTY_CLOB();
ALTER TABLE Libro MODIFY pelicula DEFAULT EMPTY_BLOB();
```

Para insertar un valor de texto sobre un campo CLOB, se realiza de manera similar como si fuera un campo
VARCHAR, ejemplo:
``` sql
INSERT INTO Libro(id_libro, texto_libro) Libro VALUES (2, 'texto muy muy
largo del libro');
```
- Para obtener una parte del contenido de un CLOB se usa la función DBMS_LOB.SUBSTR:
``` sql
SELECT DBMS_LOB.SUBSTR(texto_libro, 20,10) FROM Libro;
``` 
- obtiene 20caracteres de texto desde la posición 10
- Para obtener la posición de un texto se usa la función DBMS_LOB.INSTR:
``` sql
SELECT DBMS_LOB.INSTR(texto_libro, 'y',1,2) FROM Libro; 
``` 
- -obtiene la posición del carácter 'y' en su segunda ocurrencia desde la primeraposición
-  Para agregar más texto a un CLOB se usa la función DBMS_LOB.WRITEAPPEND:
DECLARE
``` sql
v_clob CLOB;
BEGIN
SELECT texto_libro INTO v_clob FROM Libro WHERE id_libro = 2 for update;
DBMS_LOB.WRITEAPPEND(v_clob, length(' al final'), ' al final');
COMMIT;
END;
/
```

Para trabajar con BLOB y BFILEs se requiere de objetos DIRECTORY (directorios) en la base de datos.
- Los directorios no son objetos que le pertenecen a un esquema, todos los directorios creados son
propiedad del usuario SYS.
- Para crear directorios es necesario el privilegio de sistema 
``` sql CREATE ANY DIRECTORY. ``` 
- Estos objetos directorios serán una referencia a una ubicación de un directorio del sistema operativo:
``` sql CREATE OR REPLACE DIRECTORY repositorio AS '/repositorio' -- en Windows será c:\repositorio ```  
- Se pueden agregar permisos a otros usuarios (precaución!!!):
``` sql GRANT READ, WRITE ON DIRECTORY repositorio TO user1, user2; ``` 
- Para obtener los metadatos de los directorios se consulta la tabla del sistema 
``` sql DBA_DIRECTORIES. ```

#### Captura de tipo BFILES

 ``` sql INSERT INTO Libro(id_libro, portada)
VALUES (3, BFILENAME('repositorio',
'imagen02.jpg'));
```

Se pueden emplear funciones de manejo de BFILE para obtener información:
``` sql
DECLARE
v_file BFILE;
v_nombre VARCHAR2(255);
v_ruta VARCHAR(255);
BEGIN
SELECT portada INTO v_file FROM Libro WHERE id_libro = 3;
DBMS_LOB.FILEGETNAME(v_file, v_ruta, v_nombre);
DBMS_OUTPUT.PUT_LINE('Longitud: ' ||
DBMS_LOB.GETLENGTH(v_file) || ' bytes, en la ruta ' ||
v_ruta || '/' || v_archivo);
END;
/
```

### Herencia
``` sql
CREATE TYPE tipoPersona AS OBJECT(
DNI VARCHAR(9),
nombre VARCHAR(25),
fecha_nac DATE,
direccion VARCHAR(1000)) NOT FINAL;
CREATE TYPE tipoEmpleado UNDER tipoPersona (
NoTrabajador NUMBER,
salario NUMBER)NOT FINAL;
CREATE TYPE tipoEstudiante UNDER tipoPersona (
noBoleta NUMBER,
carrera VARCHAR(100));
CREATE TYPE tipoOperativo UNDER tipoEmpleado (
area VARCHAR(20));
CREATE TYPE tipoDirectivo UNDER tipoEmpleado (
puesto VARCHAR(25),
oficina VARCHAR(10));
M. en C. Alejandro Botello C. 55
CREATE TABLE Persona OF tipoPersona;
INSERT INTO persona VALUES('12345', 'Juan
Pérez',TO_DATE('12/4/1978','dd/mm/yyyy'),
'Av. Palmas 23, Villas, Toluca');
CREATE TABLE Empleado OF tipoEmpleado;
INSERT INTO empleado VALUES (9876,
8756.50); -- CONSTRUCTOR INCORRECTO
INSERT INTO
Empleado VALUES('45678','Laura Lopez',
TO_DATE('9/11/1986','dd/mm/yyyy'), 'Cadiz
564, Torres, Toluca', 9876, 8756.50);
CREATE TABLE operativo OF tipoOperativo;
INSERT INTO operativo
VALUES('86420','José Aguado',
TO_DATE('23/9/1982','dd/mm/yyyy'), 'Calle
34 #298, Oriente, Ecatepec', 6754,
6789.00, 'Soporte');
CREATE TABLE directivo OF tipoDirectivo;
INSERT INTO directivo VALUES('97642','Ana
Padilla',TO_DATE('7/3/1992','dd/mm/yyyy')
, 'Juan Escutia 213, Alamedas, Izcalli',
8798, 9782.80, 'Director de Personal',
'C-14');
``` 

### Metodos
``` sql
CREATE OR REPLACE TYPE tipoPersona AS OBJECT(
DNI VARCHAR(9),
nombre VARCHAR(25),
fecha_nac DATE,
direccion VARCHAR(1000),
MEMBER FUNCTION calcula_edad(fn DATE) RETURN
INTEGER;
)NOT FINAL;
CREATE OR REPLACE TYPE BODY tipoPersona AS (
MEMBER FUNCTION calcula_edad(fn DATE) RETURN INTEGER
AS
BEGIN
RETURN trunc(months_between(SYSDATE, fn)/12);
END;
END;
``` 
### Restricciones
``` sql
CREATE TABLE Persona OF tipoPersona
(PRIMARY KEY (DNI),
CHECK (direccion like (‘%Madrid%’)));
CREATE TABLE Estudiante OF
tipoEstudiante
(PRIMARY KEY (nombre));
CREATE TABLE Empleado OF tipoEmpleado
(PRIMARY KEY (DNI));
```

### Ejemplo de Cuenta Bancaria
``` sql
CREATE TYPE BODY Cuenta_Bancaria AS
MEMBER PROCEDURE abrir(cantidad IN REAL) IS
BEGIN
IF NOT cantidad > 0 THEN
RAISE_APPLICATION_ERROR(-20104, ‘cantidad incorrecta’);
END IF;
SELECT secuencia_ctas.NEXTVAL INTO self.numero_cuenta FROM dual;
self.estado := ‘abrir’;
self.balance := cantidad;
END abrir;
MEMBER PROCEDURE verificar_cta(num IN INTEGER) IS
BEGIN
IF(num <> self.numero_cuenta) THEN
RAISE_APPLICATION_ERROR(-20105, ‘numero incorrecto’);
ELSEIF (self.estado = ‘cerrado’) THEN
RAISE_APLLICATION_ERROR(-20106, ‘cuenta cerrada’);
END IF;
END verificar_cta;

MEMBER PROCEDURE cancelar (num IN INTEGER) IS
BEGIN
verificar_cta(num);
self.estado := ‘cerrado’;
self.cantidad := 0;
END cancelar;
MEMBER PROCEDURE deposito(num IN INTEGER, cantidad IN REAL) IS
BEGIN
verificar_cta(num);
IF NOT cantidad > 0 THEN
RAISE_APPLICATION_ERROR(-20104, ‘cantidad incorrecta);
END IF;
self.balance := self.balance + cantidad;
END deposito;


MEMBER PROCEDURE sacar (num IN INTEGER, cantidad IN REAL) IS
BEGIN
verificar_cta(num);
IF cantidad <= self.balance THEN
self.balance:= self.balance – cantidad;
ELSE
RAISE_APPLICATION_ERROR(-20107,
‘saldo insuficiente);
END IF;
END sacar;
MEMBER FUNCTION saldo_actual (num IN INTEGER) RETURN REAL IS
BEGIN
verifcar_cta(num);
RETURN self.balance;
END saldo_actual;
END;
/
```

### Tutorial de XML

Prologo

``` xml
<?xml version="1.0" encoding="UTF
-8 | ISO-8859-1 | windows-1252"
standalone="no | yes"?>

``` 

Ejemplo de Codigo

``` xml
<?xml version="1.0" encoding="UTF-8"?>
<bookstore>
  <book category="cooking">
    <title lang="en">Everyday Italian</title>
    <author>Giada De Laurentiis</author>
    <year>2005</year>
    <price>30.00</price>
  </book>
  <book category="children">
    <title lang="en">Harry Potter</title>
    <author>J K. Rowling</author>
    <year>2005</year>
    <price>29.99</price>
  </book>
  <book category="web">
    <title lang="en">Learning XML</title>
    <author>Erik T. Ray</author>
    <year>2003</year>
    <price>39.95</price>
  </book>
</bookstore>
```

- El elemento <password> puede contener letras mayúsculas, minúsculas y dígitos del 0-9, hasta
máximo 8 caracteres.
``` xml
<xs:element name="password">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{8}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
```

- El elemento <password> contiene únicamente entre 5 y 8 caracteres.
``` xml
<xs:element name="password">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="5"/>
<xs:maxLength value="8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
```

XPATH

![ALTER](./img/4.png)

xmlSchema

``` xml
Orderdata.xml
<Orderdata>
<Customer fistName=“Bob” lastName=“Warren” emailAddress=“bob@mymailaddress.com”/>
<Invoice/>
</OrderData>

``` 
Orderdata.xsd

``` xml
<xs:schema version="1.0“ xmlns:xs=“http://www.w3.org/2001/XMLSchema”
elementFormDefault="qualified">
<xs:element name=“OrderData”>
<xs:complexType>
<xs:sequence>
<xs:element name=“Customer” >
<xs:complexType>
<xs:attribute name=“firstName” type=“xs:string” use=“required” />
<xs:attribute name=“lastName” type=“xs:string” use=“required” />
<xs:attribute name=“emailAddress type=“xs:string” />
</xs:complexType>
</xs:element>
<xs:element name=“Invoice” type=“xs:string” />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>

```

xmlType

```sql
CREATE TABLE Person ( id int primary key, nombre
varchar2(20) not null, direccion xmlType);
INSERT INTO Person(id,nombre,direccion) VALUES(1,
'Peter Smith', XMLTYPE('<MailAddressTo
id="1"><Person>Peter Smith</Person> <Street>10
Apple Tree Lane</Street><City>New
York</City><State>NY</State<Zipcode>12345</Zipcode>
</MailAddressTo>'));
SELECT extract(direccion, '/MailAddressTo/Street')
FROM Person;
UPDATE Person SET direccion =
XMLTYPE('<MailAddressTo id="1"><Person>Peter
Smith</Person> <Street>10 Downing
Street</Street><City>London</City>
<State>England</State> <Zipcode>22334</Zipcode></Ma
ilAddressTo>');
```

### Consultas XML

```xml

SELECT XMLParse(CONTENT '<purchaseOrder poNo=12435><customerName>Acme Enterprises</customerName><itemNo>32987457</itemNo></purchaseOrder>'        WELLFORMED) AS res FROM DUAL d;
```

```xml

SELECT sys_xmlgen(xmlelement("nombre", xmlattributes(e.employee_id as "id"), e.first_name || ' ' || e.last_name)) as empleado from hr.employees e where e.employee_id = 200;
```

```xml
SELECT XMLElement("Empleado",XMLAttributes(e.first_name ||' '|| e.last_name AS "nombre"), XMLForest(e.hire_date, e.department_id AS "departmento")) AS res FROM hr.employees e WHERE e.department_id = 20;
```

-----

Data warehouse vs BD Relacional
- La primera diferencia: uno registra, el otro agrega datos para análisis. , La segunda diferencia datawarehouse: una está relacionada con la aplicación, la otra está al servicio del analista.

----

Data lake vs data warehouse

- El lago de datos conserva todos los datos, a diferencia del almacén de datos, donde se dedica una parte importante de tiempo a decidir qué datos incluir y no incluir en el almacén
- El lago de datos conserva todos los datos, a diferencia del almacén de datos, donde se dedica una parte importante de tiempo a decidir qué datos incluir y no incluir en el almacén
- El Data Lake puede nutrir a todos los usuarios de la organización, incluyendo a esos perfiles técnicos con exigencias de análisis más avanzadas, que son quienes recurren a capacidades como análisis estadístico y modelado predictivo.
- A diferencia del Data Warehouse, el <b>Data Lakes se adapta fácilmente a los cambios.</b> El diseño del almacén es un proceso complejo y, la actualidad de loso negocios, en ocasiones no puede esperar tanto tiempo. Para esas circunstancias, asegura la adaptabilidad necesaria para entregar respuestas más rápidas.

### Teoría para resolver XML

- CDATA
En un documento, una sección CDATA es aquella perteneciente a un documento que es marcado para que el analizador sintáctico lo interprete como una cadena de caracteres y no como contenido etiquetado.

- NameSpaces
Un espacio de nombres XML es una recomendación W3C para proporcionar elementos y atributos con nombre único en un archivo XML.

- OLTP o procesamiento de transacciones en línea (Online Transaction Processing) es un tipo de procesamiento de datos que consiste en ejecutar una serie de transacciones que ocurren simultáneamente en la banca en línea, las compras, la entrada de pedidos o el envío de mensajes de texto, por ejemplo.

- El procesamiento analítico en línea (OLAP) es una tecnología que se usa para organizar bases de datos empresariales grandes y admitir inteligencia empresarial.

- Business Inteligence Conjunto de estrategias, aplicaciones, datos, productos, tecnologías y arquitectura técnicas, los cuales están enfocados a la administración y creación de conocimiento sobre el medio, a través del análisis de los datos existentes en una organización o empresa.

## NO SQL

- El teorema CAP o teorema Brewer, dice que en sistemas distribuidos es imposible
garantizar a la vez: la consistencia, la disponibilidad y la tolerancia a particiones
(Consistency-Availability-Partition Tolerance):
- Consistencia: al realizar una consulta o inserción siempre se tiene que recibir la
misma información, con independencia del nodo o servidor que procese la petición.
- Disponibilidad: que todos los clientes puedan leer y escribir, aunque se haya caído
uno de los nodos.
- Tolerancia a particiones: a veces traducido como tolerancia a fallos. Es una
traducción que no me gusta, ya que se confunde con el punto anterior. Los sistemas
distribuidos pueden estar divididos en particiones (generalmente de forma
geográfica). Así que esta condición implica, que el sistema tiene que seguir
funcionando aunque existan fallos o caídas parciales que dividan el sistema.

#### Clasificacion de Bases de Datos
- Orientadas a documentos.-son las más versátiles, gestionan datos semi-estructurados o documentos que son almacenados
en algún formato estándar como puede ser XML, JSON o BSON. Ejemplos: MongoDB (utilizada por Foursquare o eBay),
CouchDB, Couchbase Server, MarkLogic.
- Orientadas a columnas.- pensadas para realizar consultas y agregaciones sobre grandes cantidades de datos, funcionan de
forma parecida a las bases de datos relacionales, pero almacenando columnas de datos en lugar de registros. Ejemplos:
Accumulo, Cassandra, HBase (mantenida por Hadoop; utilizada por Facebook, Twitter o Yahoo), Apache Flink
- De clave-valor.- las más simples de entender, guardan tuplas clave-valor. Ejemplos: Aerospike, Redis, Riak, DynamoDB,
Berkeley DB
- En grafo.- basadas en la teoría de grafos, utilizan nodos y aristas para representar los datos almacenados, y son muy útiles
para guardar información en modelos con muchas relaciones, como redes y conexiones sociales. Ejemplos: InfiniteGraph,
Neo4j (utilizada en Infojobs)
- Multimodelo.- presentan una combinación de dos o más tipos de almacenamiento. Ejemplos ArangoDB, OpenLinkVirtuoso,
OrientDB, Oracle NoSQL

### Hadoop 
- La idea de contar con un gran número de nodos y
cada uno con posibilidad de fallas, significa que en
todo momento algún componente siempre no será
funcional.
- Por lo tanto, la detección de fallas y rápida
recuperación automática de un sistema distribuido
debe es un objetivo central de la arquitectura de HDFS
### Hadoop Distributed File System(HDFS)
- Los datos en el clúster de Hadoop son divididos en
pequeñas piezas llamadas bloques y distribuidas a través del
clúster; de esta manera, las funciones map y reduce pueden
ser ejecutadas en pequeños subconjuntos y esto provee de
la escalabilidad necesaria para el procesamiento de grandes
volúmenes.

### Hadoop MapReduce
- El primer proceso es map, el cual toma un
conjunto de datos y lo convierte en otro
conjunto, donde los elementos individuales
son separados en tuplas (pares de
llave/valor)
-  El proceso reduce obtiene la salida de map
como datos de entrada y combina las tuplas
en un conjunto más pequeño de las mismas.

### MONGO DB
- Para crear una nueva base de datos, denominada book, se ejecuta el comando mongo en la terminal de línea de comandos.
``` 
mongo book
```

- Crear una coleccion
```
db.towns.insert({
name: "New York",
population: 22200000,
lastCensus: ISODate("2016-07-01"),
famousFor: [ "the MOMA", "food", "Derek Jeter" ],
mayor : {
name : "Bill de Blasio",
party : "D"
}
})
```

#### Consultas
-  db.towns.find()
```
var population_range = {
$lt: 1000000,
$gt: 10000
}
```
- db.towns.find(
{ name : /^P/, population : population_range },
{ name: 1 }
)

AND en Mongo DB
```
>db.mycol.find(
{
$and: [
{key1: value1}, {key2:value2}
]
}
```

ELEM MATCH
```
db.countries.find(
{
'exports.foods' : {
$elemMatch : {tasty : true, condiment :{$exists : true}}
}
}, { _id : 0, name : 1 })
{"name" : "Mexico" }
```

UPDATE
```
db.towns.update(
{ _id : ObjectId("4d0ada87bb30773266f39fe5")},
{ $set : { "state" : "OR" } }
);
```

Ordenar descendente
```
db.mycol.find({},{"title":1,_id:0}).s
ort({"title":-1})
{"title":"Tutorials Point Overview"}
{"title":"NoSQL Overview"}
{"title":"MongoDB Overview"}
```

Eliminar
```
 var badBacon ={'exports.foods'
:{$elemMatch : {name : 'bacon', tasty :
false}
}
}
```

db.countries.remove(badBacon)

-Crear Indice
db.mycol.createIndex({"title":1})

Funcion Similar COUNT y DISTINCT
```db.phones.count({'components.number': {
$gt : 5599999 }})
50000
```

### ORACLE NO SQL
-Cada entidad (registro) es un conjunto de pares clave-valor. Una clave tiene varios
componentes, especificados como una lista ordenada.
- La clave mayor identifica la entidad y consta de los componentes principales de la clave. Los
componentes posteriores se denominan claves menores.
- Una base de datos Oracle NoSQL se utiliza a menudo para
almacenar objetos grandes como imágenes, audio, vídeos
y mapas.
- Debido a que las claves se hashean en las particiones disponibles, es posible que algunas
particiones sean más grandes que otras.
- El factor de replicación de un almacén de Oracle NoSQL Database define el número de
réplicas que tiene cada fragmento. Cada fragmento dentro de un almacén de oracle
NoSQL Database debe tener el mismo factor de replicación.


- Crear una tabla
```console
kv->table create -name usuario
usuario->add-field -name Id -type integer
usuario->add-field -name nombre -type string
usuario->add-field -name apellidos -type string
usuario->add-record-field -name domicilio
usuario.domicilio->add-field -name calle -type string
usuario.domicilio->add-field -name numero -type integer
usuario.domicilio->add-field -name colonia -type string
usuario.domicilio->add-field -name ciudad -type string
usuario.domicilio->exit
usuario->add-field -name genero -type ENUM -enum-values M,F
usuario->add-field -name edad -type integer
usuario->primary-key -field Id
usuario->show
usuario->exit
```

Agregar Valores
```
kv->put kv -key /usuario/Id -value 1
kv->put kv -key /usuario/nombre -value 'Juan'
kv->put kv -key /usuario/apellidos -value 'Pérez López'
kv->put kv -key /usuario/genero -value M
kv->put kv -key /usuario/domicilio/calle -value 'Av. Juarez'
kv->put kv -key /usuario/domicilio/numero -value 256
kv->put kv -key /usuario/domicilio/colonia -value 'Independencia'
kv->put kv -key /usuario/domicilio/ciudad -value 'Cuernavaca'
```

Consulta
```
kv->get kv -key /usuario -all
kv->get kv -key /usuario -all -keyonly
kv->get kv -key /usuario -all -valueonly
```

### ACID
- ACID es el conjunto de propiedades que garantizan que las transacciones de una Base de Datos se procesan de manera fiable. De forma muy resumida, las propiedades son:

- Atomicidad: un cambio debe completarse en su totalidad o no modificar nada en absoluto.
- Consistencia: cualquier cambio debe conducir de un estado válido de la base de datos a otro estado válido de acuerdo con las restricciones y el esquema de datos.
- Aislamiento (Isolation): un cambio no debe afectar a otros cambios que se estén ejecutando al mismo tiempo sobre la base de datos.
Durabilidad: una vez completado el cambio, éste debe conservarse, aunque se produzcan fallos en la base de datos o el sistema completo.

### NEO4J

- Una base de datos orientada a grafos es un sistema de
administración de bases de datos en línea con
operaciones de Crear, Leer, Actualizar y Eliminar (CRUD)
que trabajan en un modelo de datos de grafos.
- A diferencia de otras bases de datos, las relaciones tienen
prioridad en las bases de datos de orientadas a grafos.

Consultas
``` sql
MATCH [some set of nodes and/or
relationships]
WHERE [some set of properties holds]
RETURN [some set of results captured
by the MATCH and WHERE clauses] 
```

### Crear Nodo
-Crear Espacio
``` sql
CREATE (al1:alumno)
``` 
- Insertar valor
``` sql
CREATE (node:label {
key1: value, key2: value, . })
CREATE(al2:alumno{noboleta:
2020223, nombre:'Juan',
apellidos:'Pérez López',
genero:'M', fecha_nac:'03-08-2000'})
``` 
- Buscar
``` sql
MATCH (n) RETURN n
``` 
- Crear relacion 
``` sql
CREATE (node1)-[label:RelationshipType]->(node2)
CREATE (al3:alumno{noboleta:2020,nombre:'Isela',
apellidos:'Martínez López', genero:'F', fecha_nac:'19/09/2020'})-
[amistad:es_amigo]-
>(al4:alumno{noboleta:20198765,nombre:'Martín',apellidos:'Pérez
Cañedo', genero:'M'})
``` 
- Crear relacion entre nodos existentes

``` sql
MATCH (x:alumno), (y:alumno)
where x.noboleta = 2023456 and y.noboleta= 2020223
CREATE (x) -[amistad:es_amigo{tiempo: 2}]->(y) RETURN x,y

``` 
-Clausula Where
``` sql
MATCH (a:alumno) WHERE a.fecha_nac is null
RETURN a
``` 

- Eliminar 
``` sql
MATCH (n) DETACH DELETE n
``` 
- Count
``` sql
MATCH(a:alumno) RETURN COUNT(a)
```